certifi==2021.10.8
click==8.0.3
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
Jinja2==3.0.2
MarkupSafe==2.0.1
SQLAlchemy==1.4.26
numpy==1.21.3
werkzeug.utils==2.0.1
keras==2.7.0
matplotlib.pyplot==3.4.3
cv2==4.5.4
boto3==1.19.12
tensorflow==2.3.0
tensorflow.keras.preprocessing==2.3.0
tensorflow.keras.models==2.3.0
tensorflow.keras.preprocessing.image==2.3.0
tensorflow.compat.v1.keras.backend==2.3.0